* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
}

:root {
  --border: 1px solid black;
  --generic-shadow: 0px 1px 2px rgba(60, 64, 67, 0.3),
    0px 2px 6px 2px rgba(60, 64, 67, 0.15);
  --offwhite: #f3f3f4;
}

header {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 1rem 0;
  width: 80%;
  max-width: 1440px;
  border: var(--border);
  border-radius: 50px;
  backdrop-filter: blur(5px);
  z-index: 10;
}

header > p {
  text-align: center;
}

main {
  position: relative;
  top: 5rem;
}

section {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 0;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.9rem;
  border: var(--border);
  text-align: center;
  border-radius: 50px;
  text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.3);
}

ul,
ol {
  list-style-position: inside;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

ul li,
ol li {
  list-style-position: inside;
  font-size: 1.3rem;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  gap: 1rem;
}

.about > .text {
  width: 90%;
  max-width: 500px;
}

.about > .text h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.9rem;
}

.about > .text > div {
  margin-bottom: 0.9rem;
}

.about > figure {
  width: 90%;
  max-width: 450px;
  height: 350px;
}

.about > figure > img {
  width: 100%;
  height: 100%;
}

.ingredients__steps {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  gap: 1rem;
}

.ingredients__steps > div {
  width: 90%;
  max-width: 400px;
}

.images__meal {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.8rem;
}

.images__meal > figure {
  width: 90%;
  margin: auto;
  max-width: 400px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.images__meal > figure > img {
  width: 100%;
  height: 100%;
}
